.card-container {
  width: 80vw;
  max-width: 800px;
  height: fit-content;
  background-color: var(--background-color);
  border-radius: 15px;
  border: 1px solid black;
  margin: 1vh;
}

.card-info {
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  font-size: 0.5em;
  padding-inline: 5%;
  padding-top: 2vh;
}

.album-cover {
  width: 40%;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.album-cover img {
  width: 100%;
}

.text-section {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hidden {
  display: none;
}
