.track-list {
  font-size: 0.5em;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-list li {
  width: 85%;
  background-color: rgb(218, 223, 225);
  border-radius: 5px;
  padding-block: 0.5vh;
  padding-inline: 1vw;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-between;
}
