.app {
  margin: 0;
  display: grid;
  gap: 1rem;
  place-items: center;
  margin-bottom: calc(var(--navbar-size) + 2rem);
}

h1 {
  position: relative;
  color: var(--headline-color);
  margin-block: 1rem;
  letter-spacing: 0.5rem;
  font-size: var(--logo-size);
}

h1 > .span-for-t {
  position: relative;
  top: 0rem;
  font-size: calc(1.5 * var(--logo-size));
}

h1 > .span-for-spo {
  position: relative;
  top: -1.3rem;
}

.saved-tracks {
  width: 100%;
}

@media (min-width: 801px) {
  .album-list {
    max-width: 90%;
  }

  .album-list > ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1201px) {
  .album-list {
    max-width: 100%;
  }
  .album-list > ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
